src/main/resources/com/incloud/hcp/wsdl/prod/SI_P030_ActualizarHomologacion_Sync_Req_OutService_PROD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:sanmartinperu.pe:portal030:ActualizarHomologacion" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_P030_ActualizarHomologacion_Sync_Req_Out" targetNamespace="urn:sanmartinperu.pe:portal030:ActualizarHomologacion">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_P030_ActualizarHomologacion_Sync_Req_Out"/>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sanmartinperu.pe:portal030:ActualizarHomologacion" targetNamespace="urn:sanmartinperu.pe:portal030:ActualizarHomologacion">
            <xsd:element name="MT_P030_ActualizarHomologacion_Req_Out" type="DT_P030_ActualizarHomologacion_Req"/>
            <xsd:complexType name="DT_P030_ActualizarHomologacion_Req">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">9520b17a9f1011e7c024000000770556</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="LIFNR" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9518d43b9f1011e79e6e025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NOTA" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">95190d3b9f1011e7b843025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="35"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="FEEXP" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">95190d3c9f1011e7910c025041000001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="HOMOL" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">95190d3d9f1011e7b3ab025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_P030_ActualizarHomologacion_Req_Out">
        <wsdl:documentation/>
        <wsdl:part name="MT_P030_ActualizarHomologacion_Req_Out" element="p1:MT_P030_ActualizarHomologacion_Req_Out"/>
    </wsdl:message>
    <wsdl:portType name="SI_P030_ActualizarHomologacion_Sync_Req_Out">
        <wsdl:documentation/>
        <wsdl:operation name="SI_P030_ActualizarHomologacion_Sync_Req_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_P030_ActualizarHomologacion_Sync_Req_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_P030_ActualizarHomologacion_Req_Out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_P030_ActualizarHomologacion_Sync_Req_OutBinding" type="p1:SI_P030_ActualizarHomologacion_Sync_Req_Out">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SI_P030_ActualizarHomologacion_Sync_Req_Out">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_P030_ActualizarHomologacion_Sync_Req_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_P030_ActualizarHomologacion_Sync_Req_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_P030_ActualizarHomologacion_Sync_Req_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal030%3AActualizarHomologacion"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_P030_ActualizarHomologacion_Sync_Req_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_P030_ActualizarHomologacion_Sync_Req_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal030%3AActualizarHomologacion"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
