src/main/resources/com/incloud/hcp/wsdl/prod/SI_P026_ConsultaSOLPED_Req_Sync_OutService_PROD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:sanmartinperu.pe:portal025:ConsultaSOLPED" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_P026_ConsultaSOLPED_Req_Sync_Out" targetNamespace="urn:sanmartinperu.pe:portal025:ConsultaSOLPED">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_P026_ConsultaSOLPED_Req_Sync_Out"/>
    <wsdl:types>
        <xsd:schema xmlns="urn:sanmartinperu.pe:portal025:ConsultaSOLPED" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sanmartinperu.pe:portal025:ConsultaSOLPED">
            <xsd:element name="MT_P026_ConsultaSOLPED_Res_In" type="DT_P026_ConsultaSOLPED_Res"/>
            <xsd:element name="MT_P026_ConsultaSOLPED_Req_Out" type="DT_P026_ConsultaSOLPED_Req"/>
            <xsd:complexType name="DT_P026_ConsultaSOLPED_Res">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">bf79b234cda211e79a13000000770556</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Detalle" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">42a647a18cdd11e785e800ffaa50b49d</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BANFN" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f218cdd11e7abd600ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="BNFPO" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f228cdd11e7be6d00ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="5"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="BSART" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f208cdd11e79e4500ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="4"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="LOEKZ" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5017058e7f11e7c181025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="WERKS" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f238cdd11e79d6400ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="4"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="LGORT" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f248cdd11e7bb6100ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="4"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MATNR" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f258cdd11e7c52000ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="18"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MENGE" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f268cdd11e7b31800ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:decimal">
                                            <xsd:fractionDigits value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MEINS" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f288cdd11e790ef00ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="LFDAT" type="xsd:date" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f298cdd11e7871100ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MATKL" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024e68e7f11e7a858025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="9"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MFRPN" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">42a62f2a8cdd11e79aec00ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="PACKNO" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024e78e7f11e78129025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="INTROW" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024e88e7f11e78cba025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SRVPOS" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024e98e7f11e7ce65025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="18"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SMENGE" type="xsd:int" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024ea8e7f11e780ec025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SMEINS" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">7e5024eb8e7f11e7cafb025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="0"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Log" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">42a647a28cdd11e7b8f300ffaa50b49d</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="CODE" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">6c95e3cc8cea11e7aad300ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MESAJ" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">6c95e3cd8cea11e7c99300ffaa50b49d</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="200"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_P026_ConsultaSOLPED_Req">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">b5e816168cda11e7bfbc000000770556</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Request">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BANFN">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_P026_ConsultaSOLPED_Req_Out">
        <wsdl:documentation/>
        <wsdl:part name="MT_P026_ConsultaSOLPED_Req_Out" element="p1:MT_P026_ConsultaSOLPED_Req_Out"/>
    </wsdl:message>
    <wsdl:message name="MT_P026_ConsultaSOLPED_Res_In">
        <wsdl:documentation/>
        <wsdl:part name="MT_P026_ConsultaSOLPED_Res_In" element="p1:MT_P026_ConsultaSOLPED_Res_In"/>
    </wsdl:message>
    <wsdl:portType name="SI_P026_ConsultaSOLPED_Req_Sync_Out">
        <wsdl:documentation/>
        <wsdl:operation name="SI_P026_ConsultaSOLPED_Req_Sync_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_P026_ConsultaSOLPED_Req_Sync_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_P026_ConsultaSOLPED_Req_Out"/>
            <wsdl:output message="p1:MT_P026_ConsultaSOLPED_Res_In"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_P026_ConsultaSOLPED_Req_Sync_OutBinding" type="p1:SI_P026_ConsultaSOLPED_Req_Sync_Out">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SI_P026_ConsultaSOLPED_Req_Sync_Out">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_P026_ConsultaSOLPED_Req_Sync_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_P026_ConsultaSOLPED_Req_Sync_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_P026_ConsultaSOLPED_Req_Sync_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal025%3AConsultaSOLPED"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_P026_ConsultaSOLPED_Req_Sync_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_P026_ConsultaSOLPED_Req_Sync_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal025%3AConsultaSOLPED"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
