src/main/resources/com/incloud/hcp/wsdl/prod/SI_v2_P031_CrearOrdenDeCompra_Sync_Req_OutService_PROD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:sanmartinperu.pe:portal031:CrearOrdendeCompra" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_v2_P031_CrearOrdenDeCompra_Sync_Req_Out" targetNamespace="urn:sanmartinperu.pe:portal031:CrearOrdendeCompra">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_P031_CrearOrdenDeCompra_Sync_Req_In"/>
    <wsdl:types>
        <xsd:schema xmlns="urn:sanmartinperu.pe:portal031:CrearOrdendeCompra" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sanmartinperu.pe:portal031:CrearOrdendeCompra">
            <xsd:element name="MT_v2_P031_CrearOrdenDeCompra_Res" type="DT_v2_P031_CrearOrdenDeCompra_Res"/>
            <xsd:element name="MT_v2_P031_CrearOrdenDeCompra_Req" type="DT_v2_P031_CrearOrdenDeCompra_Req"/>
            <xsd:complexType name="DT_v2_P031_CrearOrdenDeCompra_Req">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">...</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ab7c981dd0d111e7ccbb000000770556</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Cabecera" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">84234524ba6a11e7b286025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BSART" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">84233310ba6a11e7a7ec025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LIFNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d5349a87d0cd11e7c7b8025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Detalle" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d5349a8cd0cd11e78b9d025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BANFN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d5349a88d0cd11e785dd025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="POSNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d5349a89d0cd11e799bb025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MENGE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d5349a8ad0cd11e79972025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KBETR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d5349a8bd0cd11e783fa025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_v2_P031_CrearOrdenDeCompra_Res">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">....</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">97ca9433d0d211e7a0a7000000770556</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Response" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a063bfe293ec11e7c27b025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="EBELN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">a063bfe093ec11e7c42b025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Log" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d2b9f4f7d0d111e7825d025041000001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="CODE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d2b9f4f5d0d111e7c4a1025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MESAJ" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">d2b9f4f6d0d111e7b370025041000001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_v2_P031_CrearOrdenDeCompra_Req">
        <wsdl:documentation/>
        <wsdl:part name="MT_v2_P031_CrearOrdenDeCompra_Req" element="p1:MT_v2_P031_CrearOrdenDeCompra_Req"/>
    </wsdl:message>
    <wsdl:message name="MT_v2_P031_CrearOrdenDeCompra_Res">
        <wsdl:documentation/>
        <wsdl:part name="MT_v2_P031_CrearOrdenDeCompra_Res" element="p1:MT_v2_P031_CrearOrdenDeCompra_Res"/>
    </wsdl:message>
    <wsdl:portType name="SI_v2_P031_CrearOrdenDeCompra_Sync_Req_Out">
        <wsdl:documentation/>
        <wsdl:operation name="SI_P031_CrearOrdenDeCompra_Sync_Req_In">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_P031_CrearOrdenDeCompra_Sync_Req_In"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_v2_P031_CrearOrdenDeCompra_Req"/>
            <wsdl:output message="p1:MT_v2_P031_CrearOrdenDeCompra_Res"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_v2_P031_CrearOrdenDeCompra_Sync_Req_OutBinding" type="p1:SI_v2_P031_CrearOrdenDeCompra_Sync_Req_Out">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SI_P031_CrearOrdenDeCompra_Sync_Req_In">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_v2_P031_CrearOrdenDeCompra_Sync_Req_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_v2_P031_CrearOrdenDeCompra_Sync_Req_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_v2_P031_CrearOrdenDeCompra_Sync_Req_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal031%3ACrearOrdendeCompra"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_v2_P031_CrearOrdenDeCompra_Sync_Req_OutBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://prdpo.sanmartinperu.pe:4500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HCP_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_v2_P031_CrearOrdenDeCompra_Sync_Req_Out&amp;interfaceNamespace=urn%3Asanmartinperu.pe%3Aportal031%3ACrearOrdendeCompra"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
